:root {
	--font: monospace;
	--a: #F44336;
	--b: #E91E63;
	--c: #9C27B0;
	--d: #673AB7;
	--e: #3F51B5;
	--f: #2196F3;
	--g: #03A9F4;
	--h: #00BCD4;
	--i: #009688;
	--j: #4CAF50;
	--k: #8BC34A;
	--l: #CDDC39;
	--m: #FFEB3B;
	--n: #FFC107;
	--o: #FF9800;
	--p: #FF5722;
}

* {
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {font-weight: 400}

li, ol, ul {list-style-type: none}

table {border-collapse: collapse}

body {
	font: 0 var(--font);
	color: #444;
	user-select: none;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
}

.underway {pointer-events: none}

main, footer {width: 100%}

main {
	display: flex;
	align-items: flex-start;
}

.s1 {
	padding: 2rem;
	flex: 1;
	position: sticky;
	top: 0;
}

.s2 div:not(:empty) {padding: 2rem 2rem 2rem 0}

ul {
	font-size: 1rem;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

li {
	padding: 10em 0;
	flex: 1;
	display: flex;
	align-items: center;
}

li ~ li {border-top: 1px solid #ddd}

li:first-child {padding-top: 0}

li:last-child {padding-bottom: 0}

.s1 span {
	font-size: 10em;
	line-height: 3em;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	display: block;
	cursor: pointer;
	will-change: left;
	transition: left 15s linear;
	position: relative;
	left: 0;
}

.s1 span::after {
	content: attr(title);
	font-size: 0.75em;
	line-height: 1;
	white-space: nowrap;
	color: #bbb;
	transform: translate(1em, -50%);
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 100%;
}

.s1 span:not(:hover)::after {display: none}

.s1 .disabled {background: #fff}

.s1 span[style] {left: calc(100% - 3em)}

.a {background: var(--a)}
.a.disabled {color: var(--a)}

.b {background: var(--b)}
.b.disabled {color: var(--b)}

.c {background: var(--c)}
.c.disabled {color: var(--c)}

.d {background: var(--d)}
.d.disabled {color: var(--d)}

.e {background: var(--e)}
.e.disabled {color: var(--e)}

.f {background: var(--f)}
.f.disabled {color: var(--f)}

.g {background: var(--g)}
.g.disabled {color: var(--g)}

.h {background: var(--h)}
.h.disabled {color: var(--h)}

.i {background: var(--i)}
.i.disabled {color: var(--i)}

.j {background: var(--j)}
.j.disabled {color: var(--j)}

.k {background: var(--k)}
.k.disabled {color: var(--k)}

.l {background: var(--l)}
.l.disabled {color: var(--l)}

.m {background: var(--m)}
.m.disabled {color: var(--m)}

.n {background: var(--n)}
.n.disabled {color: var(--n)}

.o {background: var(--o)}
.o.disabled {color: var(--o)}

.p {background: var(--p)}
.p.disabled {color: var(--p)}

.s2 {
	width: 0;
	transition: width 3s ease-in-out;
}

.underway .s2 div {
	position: sticky;
	top: 0;
}

.s2 p {
	font-size: 1.25rem;
	display: flex;
	justify-content: space-between;
}

.s2 p ~ p {margin-top: 1.8rem}

.s2.first p:first-child, .s2.last p:last-child {color: var(--a)}

footer {
	font-size: 1rem;
	line-height: 1.75em;
	min-height: 4em;
	margin-top: auto;
	padding: 0 2rem 2rem;
}

footer span {
	color: #ccc;
	cursor: pointer;
}

footer .active {color: var(--a)}

.underway footer span:not(.active) {display: none}

button {
	font: 1rem/3rem var(--font);
	width: 3rem;
	height: 3rem;
	border: none;
	outline: none;
	overflow: hidden;
	border-radius: 100%;
	cursor: pointer;
}

.edit {
	font-size: 1.5em;
	background: #fff;
	color: var(--a);
	margin-left: auto;
}

.go {
	background: var(--a);
	color: #fff;
}

.underway button {visibility: hidden}

@media (orientation: landscape) {
	html {font-size: 1.73vh}

	body {height: 100vh}

	.underway .s2 {width: 20%}

	footer {
		display: flex;
		align-items: center;
	}

	footer span::after {content: "\00A0"}
}

@media (orientation: portrait) {
	html {font-size: 2.5vh}

	.underway .s2 {width: 45%}

	button {
		transition: height 1s ease, margin 1s ease;
		display: block;
	}

	.edit, .go {margin: 1rem 0 0}

	.underway button {height: 0}

	.underway .edit, .underway .go {margin: 0}
}
