* {font-size:1em;line-height:1em;text-decoration:none;margin:0;padding:0;box-sizing:border-box}h1,h2,h3,h4,h5,h6{font-weight:400}li,ol,ul{list-style-type:none}table{border-collapse:collapse}

body {
	font: 0 'Open Sans', arial, sans-serif;
	color: #444;
	user-select: none;
	display: grid;
	grid-template-rows: auto min-content;
	overflow-x: hidden;
}

.underway {pointer-events: none}

main {display: flex}

.s1 {
	padding: 2rem;
	flex-grow: 1;
}

.s2 div:not(:empty) {padding: 2rem 2rem 2rem 0}

ul {
	font-size: 1rem;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

li {
	padding: 10em 0;
	flex: 1;
	display: flex;
	align-items: center;
}

li~li {border-top: 1px solid #ddd}
li:first-child{padding-top: 0}
li:last-child{padding-bottom: 0}

.s1 span {
	font-size: 10em;
	line-height: 3em;
	text-align: center;
	text-transform:uppercase;
	color: #fff;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	display: block;
	cursor: pointer;
	will-change: left;
	transition: left 15s linear;
	position: relative;
	left: 0;
}

.s1 .disabled {background: #fff}

.s1 span[style] {left: calc(100% - 3em)}

.a {background: #F44336}
.a.disabled {color: #f44336}

.b {background: #E91E63}
.b.disabled {color: #E91E63}

.c {background: #9C27B0}
.c.disabled {color: #9C27B0}

.d {background: #673AB7}
.d.disabled {color: #673AB7}

.e {background: #3F51B5}
.e.disabled {color: #3F51B5}

.f {background: #2196F3}
.f.disabled {color: #2196F3}

.g {background: #03A9F4}
.g.disabled {color: #03A9F4}

.h {background: #00BCD4}
.h.disabled {color: #00BCD4}

.i {background: #009688}
.i.disabled {color: #009688}

.j {background: #4CAF50}
.j.disabled {color: #4CAF50}

.k {background: #8BC34A}
.k.disabled {color: #8BC34A}

.l {background: #CDDC39}
.l.disabled {color: #CDDC39}

.m {background: #FFEB3B}
.m.disabled {color: #FFEB3B}

.n {background: #FFC107}
.n.disabled {color: #FFC107}

.o {background: #FF9800}
.o.disabled {color: #FF9800}

.p {background: #FF5722}
.p.disabled {color: #FF5722}

.s2 {
	width: 0;
	transition: width 3s ease-in-out;
}

.underway .s2 div {
	position: sticky;
	top: 0;
}

.s2 p {
	font-size: 1.25rem;
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
}

.s2.first p:first-child,
.s2.last p:last-child {color: #F44336}

footer {
	font-size: 1rem;
	line-height: 1.25em;
	min-height: 4em;
	padding: 0 2rem 2rem;
}

footer span {
	color: #ccc;
	cursor: pointer;
}

footer .active {color: #F44336}

.underway footer span:not(.active) {display: none}

button {
	font: inherit;
	font-size: 1em;
	line-height: 2.75em;
	width: 3em;
	height: 3em;
	border: none;
	outline: none;
	overflow: hidden;
	border-radius: 100%;
	cursor: pointer;
}
.edit {
	background: #fff;
	color: #F44336;
	margin-left: auto;
}
.go {
	background: #F44336;
	color: #fff;
	margin-left: 0.5em;
}

.underway button {visibility: hidden}

@media (orientation:landscape) {
	html {font-size: 1.75vh}
	
	body {height: 100vh}
	
	.underway .s2 {width: 20%}
	
	footer {
		display: flex;
		align-items: center;
	}

	footer span {margin-right: 0.3em}
}

@media (orientation:portrait) {
	html {font-size: 4vw}

	.underway .s2 {width: 45%}
			
	button {
		transition: height 1s ease, margin 1s ease;
		display: block;
	}
	.edit,
	.go {margin: 1rem 0 0}
	
	.underway button {height: 0}
	
	.underway .edit,
	.underway .go {margin: 0}
}
